{% extends 'base.html' %}
{% block add_curso %}
<div style="margin: 5px;"></div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'superuser' %}">Administração</a></li>
        <li class="breadcrumb-item active" aria-current="page">Adicionar Curso</li>
        </ol>
    </nav>
</div>
<div class="px-1 justify-content-center align-middle">
    <div class="mx-auto px-1 py-1 border rounded">
    <form action="{% url 'add_curso' %}" method="post">{% csrf_token %}
        <div class="form-group">
          <label for="curso">Nome do Curso</label>
          <input type="text" class="form-control" name="curso" id="curso" placeholder="insira o nome do Curso">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
</div>
{% endblock %}