{% extends 'base.html' %}
{% block superuser %}
<div style="margin: 5px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'superuser' %}">Administração</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Curso</li>
        </ol>
    </nav>
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="curso">Editar dados do curso {{curso.curso}}</label>
            <input type="text" class="form-control" name="curso" id="curso" value="{{curso.curso}}">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>                    
    </div>
</div>
{% endblock %}