{% extends 'base.html' %}
{% block superuser %}
<div style="margin: 5px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Administração</li>
        </ol>
    </nav>
    <a type="button" class="btn btn-outline-primary btn-lg btn-block" style="margin-bottom: 5px;" href="{% url 'add_disc' %}">Adicionar Disciplina</a>
    <div class="table-responsive">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Disciplina</th>
                    <th>Professor Responsável</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in disciplina %}
                <tr>
                    <td>{{item.nome}}</td>
                    <td>{{item.id_professor.nome}}</td>
                    <td>
                        <div class="btn-group dropleft">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ação
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'editar_disciplina' item.id_disciplina %}">Editar</a>
                            <a class="dropdown-item" href="{% url 'excluir_disciplina' item.id_disciplina %}">Excluir</a>
                        </div>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-outline-primary btn-lg btn-block" style="margin-bottom: 5px;" href="{% url 'add_curso' %}">Adicionar Curso</a>
    <div class="table-responsive">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Curso</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in curso %}
                <tr>
                    <td>{{item.curso}}</td>
                    <td>
                        <div class="btn-group dropleft">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ação
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'editar_curso' item.id_curso %}">Editar</a>
                            <a class="dropdown-item" href="{% url 'excluir_curso' item.id_curso %}">Excluir</a>
                        </div>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}